# osu!ReqTrac Backend Configuration

# Port to run the backend API server
PORT=3001

# URL of the frontend application for CORS config
FRONTEND_URL=http://localhost:3000

# osu! API v2 OAuth Application Credentials (https://osu.ppy.sh/home/account/edit#oauth-applications)
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=
